div {
  background-color: rgb(246, 156, 0);
  color: rgb(255, 255, 255);
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  color: white; 
  background-color: #089e29;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}